.ShowPasswordButton:hover {
    background-color: #45a049;
   
}

.SignUpButton:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    form {
        width: 70%;
    }
}

@media (min-width: 801px) {
    form {
        width: 50%;
    }
}

@media (min-width: 601px) {
    form {
        display: flex;
        flex-wrap: wrap;
    }

    label,
    input {
        width: 100%;
    }

    label {
        flex: 0 0 25%;
    }

    input {
        flex: 0 0 75%;
    }
}